receivers:
{% for receiver in alertmanager_receivers %}
- name: '{{ receiver.name }}'
{% if receiver.smtp_groups %}
  email_configs:
{% for smtp_group in receiver.smtp_groups %}
    - to: '{{ smtp_group }}'
{% endfor %}
{% endif %}
{% if receiver.service_keys or receiver.routing_keys %}
  pagerduty_configs:
{% if receiver.service_keys %}
{% for key in receiver.service_keys %}
    - service_key: {{ key }}
{% endfor %}
{% endif %}
{% if receiver.routing_keys %}
{% for key in receiver.routing_keys %}
    - routing_key: {{ key }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}