{{ alertmanager_log_file }} {
  daily
  sharedscripts
  notifempty
  missingok
  rotate 7
  size 500M
  compress
  delaycompress
  create 664 {{ alertmanager_user }} {{ alertmanager_group }}
  postrotate
        {% if ansible_service_mgr == "systemd" %}[ ! -f /run/alertmanager.pid ] || systemctl restart alertmanager.service{% else %}[ ! -f /var/run/alertmanager.pid ] || service alertmanager restart{% endif %}

  endscript
}