[Unit]
Description=Prometheus alertmanger service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
Restart=on-failure
ExecStart=/bin/sh -c "{{ alertmanager_bin_path }}/alertmanager {% for option in alertmanager_service_options %}--{{ option }} {% endfor %}> {{ alertmanager_log_file }} 2>&1"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target