[Unit]
Description=Prometheus server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
Restart=on-failure
ExecStart=/bin/sh -c "{{ prometheus_bin_path }}/prometheus {% for option in prometheus_options %}--{{ option }} {% endfor %}> {{ prometheus_log_file }} 2>&1"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitNOFILE=49152
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target